@charset "UTF-8";

@font-face {
  font-family: siracha;
  src: url("../fontes/Sriracha-Regular.ttf") format("truetype");
}

@font-face {
  font-family: passsionbold;
  src: url("../fontes/PassionOne-Bold.ttf") format("truetype");
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: black;
  color: white;
  margin-top: 0px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

header > h1 {
  margin-top: 0px;
  margin-bottom: 2px;
  font-family: passsionbold;
  font-size: 10vw;
  font-weight: bold;
}

header > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > p > a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

header > p > a:hover {
  text-decoration: underline;
}

main {
  font-size: 3.5vw;
  font-family: siracha;
}

section.estrofe2 {
  background-image: url(../imagens/background001.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  padding: 40px;
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.407);
}

section.fundo-transparente {
  padding: 10px;
  color: white;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.431);
}

section.fundo-transparente > p {
  margin-top: 0px;
  margin-bottom: 0px;
}

section.estrofe4 {
  background-image: url(../imagens/background002.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 40px;
  background-position: right center;
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.407);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.4em;
}

footer > a {
  text-decoration: none;
  color: white;
}

footer > a:hover {
  text-decoration: underline;
}
